/* Global Styles */
body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
  box-sizing: border-box;
}

/* Logo Styles */
.logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 150px;
  width: auto;
}

/* Container */
.container {
  //height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Content */
.content {
  background-color: rgba(31, 27, 27, 0.5);
  text-align: center;
  margin: 2rem;
  padding: 4rem;
  border-radius: 2rem;
}

.content h2 {
  margin-bottom: 2rem;
}

/* Button */
button {
  background-color: #ff1b7b;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1ABC9C;
}

/* Game */
.titulo{
  display: flex;
  justify-content: center;
}
.conteudo-jogo {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 5px #ff1b7b;
  margin: 3rem;
  padding: 2rem;
  height: 30vh;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.conteudo-jogo:hover {
  background: rgba(0, 0, 0);
  box-shadow: 0 0 5px #19caca;
}

/* Estrutura do questionário */
.questionario {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 70%;
  max-width: 70%;
}

/* Área de conteúdo */
.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 20px;
}

/* Estilo da pergunta */
.pergunta {
  font-weight: 600;
  color: white;
}

/* Progresso da pergunta */
.progresso {
  text-align: end;
  font-size: small;
  font-weight: 500;
  color: white;
}

/* Área das respostas */
.respostas {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* Botões de resposta */
.botao-resposta {
  width: 100%;
  height: 2.5rem;
  text-align: start;
  padding: 5px;
  border: none;
  cursor: pointer;
  background: #ff1b7b;
  color: white;
}

.botao-resposta:hover {
  background: #19caca;
  font-weight: 600;
}

/* Tela de fim do jogo */
.fim {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.fim span {
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  color: white;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 1rem;
}