/* Global Styles */
body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
  position: relative;
  box-sizing: border-box;
}

/* Logo Styles */
.logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  max-width: 150px;
  width: auto;
}

/* Container */
.container {
  height: 100vh;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

/* Content */
.content {
  background-color: rgba(31, 27, 27, 0.5);
  text-align: center;
  margin: 5rem;
  padding: 4rem;
  border-radius: 2rem;
}

.content h2 {
  margin-bottom: 2rem;
  
}

/* Button Styles */
button {
  background-color: #ff1b7b;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1ABC9C;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 10px;
}
